<main>
  <h1>Catálogo de Filmes</h1>
  <h2>Filmes Lançados</h2>
  <ul>
    <% @released_movies.each do |movie| %>
      <li>
        <%= link_to "#{movie.title} (#{movie.release_year})", movie_path(movie) %>
        <br>
        <img src="<%= movie.poster %>" alt="Poster do filme">
      </li>
    <% end %>
  </ul>
  <h2>Filmes Não Lançados</h2>
  <ul>
    <% @not_released_movies.each do |movie| %>
      <li>
        <%= link_to "#{movie.title} (#{movie.release_year})", movie_path(movie) %>
        <br>
        <img src="<%= movie.poster %>" alt="Poster do filme">
      </li>
    <% end %>
  </ul>
</main>